<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h1>Per diem, per district</h1>
        <p class="chatter">
          With state lawmakers using three special legislative sessions to finish their work this year, some House and Senate members collected more money than ever for session expenses. Lawmakers can claim up to $120 a day in per diem to help cover housing, food and other costs while in session, whether or not they are actually in Olympia. Click on the legislative districts in this map to see how much per diem each lawmaker claimed. The districts are color-coded based on total expenses claimed by all state lawmakers in the district.
        <div class="controls">
          <div class="button-group">
            <input id="Senate" value="Senate" type="radio" name="chamber">
            <label for="Senate">Senate</label>
            <input id="House" value="House" type="radio" name="chamber">
            <label for="House">House</label>
            <input id="Both" value="" type="radio" name="chamber" checked>
            <label for="Both">Both</label>
          </div>

          <div class="button-group">
            <input id="regular" type="radio" name="session">
            <label for="regular">Regular session</label>
            <input id="special" type="radio" name="session">
            <label for="special">Special session</label>
            <input id="total" type="radio" name="session" checked>
            <label for="total">Total</label>
          </div>
        </div>
        <div class="jump">
          <label>Jump to district:</label>
          <select class="district-select">
            <option value="">Select a district</option>
            <% for (var i = 1; i <= 49; i++) { %>
            <option value="<%= i %>">District #<%= i %></option>
            <% } %>
          </select>
        </div>
        <div class="key">
          <div class="low value">low</div>
          <div class="scale-gradient"></div>
          <div class="high value">high</div>
        </div>
        <div class="row">
          <div class="svg-container">
            <div class="statewide map">
              <%= t.include("./assets/legislativedists.svg") %>
            </div>
            <div class="metro map hidden">
              <%= t.include("./assets/zoomed.svg") %>
              <button class="close-button">
                <svg width="1" height="1" viewbox="0 0 1 1">
                  <line x1="0" x2="1" y1="0" y2="1"></line>
                  <line x1="0" x2="1" y1="1" y2="0"></line>
                </svg>
              </button>
            </div>
          </div>
          <div class="details pending">
            Select a district for more information on per diem paid out to its legislators.
          </div>
        </div>
        <div class="notes"></div>
        <div class="credits">
          Thomas Wilburn / The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script>
window.perdiem = <%= JSON.stringify(csv.perdiem) %>;
window.notes = <%= JSON.stringify(csv.notes) %>;
    </script>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
